<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Real Estate Management !!!</title>
    <style>
        a{
        color:blue;
        text-decoration:none;
        font-size:22px;
        display:inline-block;
        margin-left:50px;
        }

    </style>
</head>
<body>

<div class="container">
    <h2>Real Estate Management !!!</h2>

<hr>
    <p> <a class="btn btn-primary" href="/" role="button">Home</a>
    <a class="btn btn-primary" href="/all_prop" role="button">View All Property</a>
    <a class="btn btn-primary" href="/add_prop" role="button">Add An Property</a>
    <a class="btn btn-primary" href="/remove" role="button">remove Property Details</a>
    <a class="btn btn-primary" href="/filter_prop" role="button">Filter Property</a>
    <a class="btn btn-primary" href="/about" role="button">About Us</a>
    <a class="btn btn-primary" href="/contact" role="button">Contact Us</a></p><br>


</div>
</body>
</html>






{% block content %}
{% endblock %}

<!-- Footer -->
<style>
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>


<article class="all-browsers">
  <h1>The Real Estate</h1>
  <article class="browser">
    <p>real property that consists of land and improvements, which include buildings, fixtures, roads, structures, and utility systems. Property rights give a title of ownership to the land, improvements, and natural resources such as minerals, plants, animals, water, etc.</article>
</article>

<footer>
  <p>Author: megha Refsnes<br>
  <a href="mailto:meghashree@example.com">meghashree@example.com</a></p>
</footer>

</body>
</html>